<!--<div class="container">-->
  <!--<div  class="row">-->
    <!--<div class="col-md-12">-->
      <!--<div class="form-group">-->
        <!--<input class="form-control floating-label" id="focusedInput" type="text" placeholder="Write something to make the label float">-->
      <!--</div>-->
      <!--<div class="bs-component">-->
        <!--<div class="navbar navbar-warning">-->
          <!--<div class="navbar-header">-->
            <!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-warning-collapse">-->
              <!--<span class="icon-bar"></span>-->
              <!--<span class="icon-bar"></span>-->
              <!--<span class="icon-bar"></span>-->
            <!--</button>-->
            <!--<a class="navbar-brand" href="javascript:void(0)">Brand</a>-->
          <!--</div>-->
          <!--<div class="navbar-collapse collapse navbar-warning-collapse">-->
            <!--<ul class="nav navbar-nav">-->
              <!--<li class="active"><a href="javascript:void(0)">Active</a></li>-->
              <!--<li><a href="javascript:void(0)">Link</a></li>-->
              <!--<li class="dropdown">-->
                <!--<a href="bootstrap-elements.html" data-target="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>-->
                <!--<ul class="dropdown-menu">-->
                  <!--<li><a href="javascript:void(0)">Action</a></li>-->
                  <!--<li><a href="javascript:void(0)">Another action</a></li>-->
                  <!--<li><a href="javascript:void(0)">Something else here</a></li>-->
                  <!--<li class="divider"></li>-->
                  <!--<li class="dropdown-header">Dropdown header</li>-->
                  <!--<li><a href="javascript:void(0)">Separated link</a></li>-->
                  <!--<li><a href="javascript:void(0)">One more separated link</a></li>-->
                <!--</ul>-->
              <!--</li>-->
            <!--</ul>-->
            <!--<form class="navbar-form navbar-left">-->
              <!--<input class="form-control floating-label" id="focusedInput" type="text" placeholder="Write something to make the label float">-->
              <!--&lt;!&ndash;<input type="text" class="form-control col-lg-8" placeholder="Search">&ndash;&gt;-->
            <!--</form>-->
            <!--<ul class="nav navbar-nav navbar-right">-->
              <!--<li><a href="javascript:void(0)">Link</a></li>-->
              <!--<li class="dropdown">-->
                <!--<a href="bootstrap-elements.html" data-target="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>-->
                <!--<ul class="dropdown-menu">-->
                  <!--<li><a href="javascript:void(0)">Action</a></li>-->
                  <!--<li><a href="javascript:void(0)">Another action</a></li>-->
                  <!--<li><a href="javascript:void(0)">Something else here</a></li>-->
                  <!--<li class="divider"></li>-->
                  <!--<li><a href="javascript:void(0)">Separated link</a></li>-->
                <!--</ul>-->
              <!--</li>-->
            <!--</ul>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>&lt;!&ndash; /example &ndash;&gt;-->
      <!--<div class="bs-docs-section">-->
        <!--<div class="page-header">-->
          <!--<div class="row">-->
            <!--<div class="col-lg-12">-->
              <!--<h1 id="buttons">Buttons</h1>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->

        <!--<div class="row">-->
          <!--<div class="col-lg-6">-->

            <!--<h3>Default buttons</h3>-->
            <!--<p class="bs-component">-->
              <!--<a href="javascript:void(0)" class="btn btn-default">Default</a>-->
              <!--<a href="javascript:void(0)" class="btn btn-primary">Primary</a>-->
              <!--<a href="javascript:void(0)" class="btn btn-success">Success</a>-->
              <!--<a href="javascript:void(0)" class="btn btn-info">Info</a>-->
              <!--<a href="javascript:void(0)" class="btn btn-warning">Warning</a>-->
              <!--<a href="javascript:void(0)" class="btn btn-danger">Danger</a>-->
              <!--<a href="javascript:void(0)" class="btn btn-link">Link</a>-->
            <!--</p>-->
            <!--<h3>Flat buttons</h3>-->
            <!--<p class="bs-component">-->
              <!--<a href="javascript:void(0)" class="btn btn-flat btn-default">Default</a>-->
              <!--<a href="javascript:void(0)" class="btn btn-flat btn-primary">Primary</a>-->
              <!--<a href="javascript:void(0)" class="btn btn-flat btn-success">Success</a>-->
              <!--<a href="javascript:void(0)" class="btn btn-flat btn-info">Info</a>-->
              <!--<a href="javascript:void(0)" class="btn btn-flat btn-warning">Warning</a>-->
              <!--<a href="javascript:void(0)" class="btn btn-flat btn-danger">Danger</a>-->
              <!--<a href="javascript:void(0)" class="btn btn-flat btn-link">Link</a>-->
            <!--</p>-->

            <!--<h3>Raised buttons</h3>-->
            <!--<p class="bs-component">-->
              <!--<a href="javascript:void(0)" class="btn btn-default btn-raised">Default</a>-->
              <!--<a href="javascript:void(0)" class="btn btn-primary btn-raised">Primary</a>-->
              <!--<a href="javascript:void(0)" class="btn btn-success btn-raised">Success</a>-->
              <!--<a href="javascript:void(0)" class="btn btn-info btn-raised">Info</a>-->
              <!--<a href="javascript:void(0)" class="btn btn-warning btn-raised">Warning</a>-->
              <!--<a href="javascript:void(0)" class="btn btn-danger btn-raised">Danger</a>-->
            <!--</p>-->

            <!--<h3>Disabled buttons</h3>-->
            <!--<p class="bs-component">-->
              <!--<a href="javascript:void(0)" class="btn btn-default disabled">Default</a>-->
              <!--<a href="javascript:void(0)" class="btn btn-primary disabled">Primary</a>-->
              <!--<a href="javascript:void(0)" class="btn btn-success disabled">Success</a>-->
              <!--<a href="javascript:void(0)" class="btn btn-info disabled">Info</a>-->
              <!--<a href="javascript:void(0)" class="btn btn-warning disabled">Warning</a>-->
              <!--<a href="javascript:void(0)" class="btn btn-danger disabled">Danger</a>-->
              <!--<a href="javascript:void(0)" class="btn btn-link disabled">Link</a>-->
            <!--</p>-->

            <!--<h3>Button groups</h3>-->
            <!--<div style="margin-bottom: 15px;">-->
              <!--<div class="btn-toolbar bs-component" style="margin: 0;">-->
                <!--<div class="btn-group">-->
                  <!--<a href="javascript:void(0)" class="btn btn-default">Default</a>-->
                  <!--<a href="bootstrap-elements.html" data-target="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>-->
                  <!--<ul class="dropdown-menu">-->
                    <!--<li><a href="javascript:void(0)">Action</a></li>-->
                    <!--<li><a href="javascript:void(0)">Another action</a></li>-->
                    <!--<li><a href="javascript:void(0)">Something else here</a></li>-->
                    <!--<li class="divider"></li>-->
                    <!--<li><a href="javascript:void(0)">Separated link</a></li>-->
                  <!--</ul>-->
                <!--</div>-->

                <!--<div class="btn-group">-->
                  <!--<a href="javascript:void(0)" class="btn btn-primary">Primary</a>-->
                  <!--<a href="bootstrap-elements.html" data-target="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>-->
                  <!--<ul class="dropdown-menu">-->
                    <!--<li><a href="javascript:void(0)">Action</a></li>-->
                    <!--<li><a href="javascript:void(0)">Another action</a></li>-->
                    <!--<li><a href="javascript:void(0)">Something else here</a></li>-->
                    <!--<li class="divider"></li>-->
                    <!--<li><a href="javascript:void(0)">Separated link</a></li>-->
                  <!--</ul>-->
                <!--</div>-->

                <!--<div class="btn-group">-->
                  <!--<a href="javascript:void(0)" class="btn btn-success">Success</a>-->
                  <!--<a href="bootstrap-elements.html" data-target="#" class="btn btn-success dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>-->
                  <!--<ul class="dropdown-menu">-->
                    <!--<li><a href="javascript:void(0)">Action</a></li>-->
                    <!--<li><a href="javascript:void(0)">Another action</a></li>-->
                    <!--<li><a href="javascript:void(0)">Something else here</a></li>-->
                    <!--<li class="divider"></li>-->
                    <!--<li><a href="javascript:void(0)">Separated link</a></li>-->
                  <!--</ul>-->
                <!--</div>-->

                <!--<div class="btn-group">-->
                  <!--<a href="javascript:void(0)" class="btn btn-info">Info</a>-->
                  <!--<a href="bootstrap-elements.html" data-target="#" class="btn btn-info dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>-->
                  <!--<ul class="dropdown-menu">-->
                    <!--<li><a href="javascript:void(0)">Action</a></li>-->
                    <!--<li><a href="javascript:void(0)">Another action</a></li>-->
                    <!--<li><a href="javascript:void(0)">Something else here</a></li>-->
                    <!--<li class="divider"></li>-->
                    <!--<li><a href="javascript:void(0)">Separated link</a></li>-->
                  <!--</ul>-->
                <!--</div>-->

                <!--<div class="btn-group">-->
                  <!--<a href="javascript:void(0)" class="btn btn-warning">Warning</a>-->
                  <!--<a href="bootstrap-elements.html" data-target="#" class="btn btn-warning dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>-->
                  <!--<ul class="dropdown-menu">-->
                    <!--<li><a href="javascript:void(0)">Action</a></li>-->
                    <!--<li><a href="javascript:void(0)">Another action</a></li>-->
                    <!--<li><a href="javascript:void(0)">Something else here</a></li>-->
                    <!--<li class="divider"></li>-->
                    <!--<li><a href="javascript:void(0)">Separated link</a></li>-->
                  <!--</ul>-->
                <!--</div>-->

                <!--<div class="btn-group">-->
                  <!--<a href="javascript:void(0)" class="btn btn-danger">Danger</a>-->
                  <!--<a href="bootstrap-elements.html" data-target="#" class="btn btn-danger dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>-->
                  <!--<ul class="dropdown-menu">-->
                    <!--<li><a href="javascript:void(0)">Action</a></li>-->
                    <!--<li><a href="javascript:void(0)">Another action</a></li>-->
                    <!--<li><a href="javascript:void(0)">Something else here</a></li>-->
                    <!--<li class="divider"></li>-->
                    <!--<li><a href="javascript:void(0)">Separated link</a></li>-->
                  <!--</ul>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->

            <!--<h3>Button sizes</h3>-->
            <!--<p class="bs-component">-->
              <!--<a href="javascript:void(0)" class="btn btn-primary btn-lg">Large button</a>-->
              <!--<a href="javascript:void(0)" class="btn btn-primary">Default button</a>-->
              <!--<a href="javascript:void(0)" class="btn btn-primary btn-sm">Small button</a>-->
              <!--<a href="javascript:void(0)" class="btn btn-primary btn-xs">Mini button</a>-->
            <!--</p>-->

            <!--<h3>Floating action buttons</h3>-->
            <!--<p class="bs-component">-->
              <!--<a href="javascript:void(0)" class="btn btn-default btn-fab btn-raised mdi-action-grade"></a>-->
              <!--<a href="javascript:void(0)" class="btn btn-primary btn-fab btn-raised mdi-action-grade"></a>-->
              <!--<a href="javascript:void(0)" class="btn btn-success btn-fab btn-raised mdi-action-grade"></a>-->
              <!--<a href="javascript:void(0)" class="btn btn-info btn-fab btn-raised mdi-action-grade"></a>-->
              <!--<a href="javascript:void(0)" class="btn btn-warning btn-fab btn-raised mdi-action-grade"></a>-->
              <!--<a href="javascript:void(0)" class="btn btn-danger btn-fab btn-raised mdi-action-grade"></a>-->

            <!--</p>-->

          <!--</div>-->
          <!--<div class="col-lg-6">-->

            <!--<p class="bs-component">-->
              <!--<a href="javascript:void(0)" class="btn btn-default btn-lg btn-block">Block level button</a>-->
            <!--</p>-->


            <!--<div class="bs-component" style="margin-bottom: 15px;">-->
              <!--<div class="btn-group btn-group-justified">-->
                <!--<a href="javascript:void(0)" class="btn btn-default">Left</a>-->
                <!--<a href="javascript:void(0)" class="btn btn-default">Middle</a>-->
                <!--<a href="javascript:void(0)" class="btn btn-default">Right</a>-->
              <!--</div>-->
            <!--</div>-->

            <!--<div class="bs-component" style="margin-bottom: 15px;">-->
              <!--<div class="btn-toolbar">-->
                <!--<div class="btn-group">-->
                  <!--<a href="javascript:void(0)" class="btn btn-default">1</a>-->
                  <!--<a href="javascript:void(0)" class="btn btn-default">2</a>-->
                  <!--<a href="javascript:void(0)" class="btn btn-default">3</a>-->
                  <!--<a href="javascript:void(0)" class="btn btn-default">4</a>-->
                <!--</div>-->

                <!--<div class="btn-group">-->
                  <!--<a href="javascript:void(0)" class="btn btn-default">5</a>-->
                  <!--<a href="javascript:void(0)" class="btn btn-default">6</a>-->
                  <!--<a href="javascript:void(0)" class="btn btn-default">7</a>-->
                <!--</div>-->

                <!--<div class="btn-group">-->
                  <!--<a href="javascript:void(0)" class="btn btn-default">8</a>-->
                  <!--<div class="btn-group">-->
                    <!--<a href="bootstrap-elements.html" data-target="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown">-->
                      <!--Dropdown-->
                      <!--<span class="caret"></span>-->
                    <!--</a>-->
                    <!--<ul class="dropdown-menu">-->
                      <!--<li><a href="javascript:void(0)">Dropdown link</a></li>-->
                      <!--<li><a href="javascript:void(0)">Dropdown link</a></li>-->
                      <!--<li><a href="javascript:void(0)">Dropdown link</a></li>-->
                    <!--</ul>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->

            <!--<div class="bs-component">-->
              <!--<div class="btn-group-vertical">-->
                <!--<a href="javascript:void(0)" class="btn btn-default">Button</a>-->
                <!--<a href="javascript:void(0)" class="btn btn-default">Button</a>-->
                <!--<a href="javascript:void(0)" class="btn btn-default">Button</a>-->
                <!--<a href="javascript:void(0)" class="btn btn-default">Button</a>-->
              <!--</div>-->
            <!--</div>-->

          <!--</div>-->
        <!--</div>-->
      <!--</div>-->


    <!--</div>-->
  <!--</div>-->
<!--</div>-->



<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=geometry,places&language=en&amp;signature=VKteZ10sIZjLNogGlgbsK9XZQW4&sensor=false"></script>
<script type="text/javascript" src="http://www.geocodezip.com/scripts/v3_epoly.js"></script>
<script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/infobox/src/infobox.js"></script>
<script type="text/javascript">

    // This example adds a search box to a map, using the Google Place Autocomplete
    // feature. People can enter geographical searches. The search box will return a
    // pick list containing a mix of places and predicted search terms.
    var markers = [];
    var circleids = [];
    var uniqueId = 1;
    var unicirid = 1;
    var SelectedLatLang = new google.maps.LatLngBounds();
    var map;
    var directionDisplay;
    var directionsService;
    var polyline = null;
    var poly2 = null;
    var speed = 0.000005;
    var timerHandle = null;
    var Pause = 0;
    var StartAddress = new google.maps.LatLng(28.6295222222, 77.2736500000);
    var EndAddress = new google.maps.LatLng(28.6267138889, 77.3089916667);
    var dragmap = 0;
    var RauteMap = [

        ['Baked Buns', 28.6295222222, 77.2736500000, 1],
        ['Chawlas The Pastry Shop', 28.6400138889, 77.2792138889, 2],
        ['Chawla Tandoori Junction', 28.6485027778, 77.3051388889, 3],
        ['Nathu s Sweets', 28.6347320000, 77.2838040000, 4],
        ['wah ji wah', 28.6308638889, 77.3012305556, 5],
        ['Domino,s', 28.630518, 77.300587, 6],
        ['Bikanervala', 28.6377279, 77.2972184, 7],
        ['The Yellow Chilli', 28.6368400000, 77.2856720000, 8]
    ];

    function initialize() {
        // Create an array of styles.
        var styles = [
            {
                "featureType": "administrative",
                "elementType": "labels.text.fill",
                "stylers": [
                    {
                        "color": "#444444"
                    }
                ]
            },
            {
                "featureType": "administrative.country",
                "elementType": "geometry.fill",
                "stylers": [
                    {
                        "visibility": "on"
                    }
                ]
            },
            {
                "featureType": "administrative.province",
                "elementType": "labels.icon",
                "stylers": [
                    {
                        "hue": "#ff0000"
                    },
                    {
                        "visibility": "on"
                    }
                ]
            },
            {
                "featureType": "landscape",
                "elementType": "all",
                "stylers": [
                    {
                        "color": "#f2f2f2"
                    }
                ]
            },
            {
                "featureType": "poi",
                "elementType": "all",
                "stylers": [
                    {
                        "visibility": "off"
                    }
                ]
            },
            {
                "featureType": "road",
                "elementType": "all",
                "stylers": [
                    {
                        "saturation": -100
                    },
                    {
                        "lightness": 45
                    }
                ]
            },
            {
                "featureType": "road.highway",
                "elementType": "all",
                "stylers": [
                    {
                        "visibility": "simplified"
                    }
                ]
            },
            {
                "featureType": "road.arterial",
                "elementType": "labels.icon",
                "stylers": [
                    {
                        "visibility": "off"
                    }
                ]
            },
            {
                "featureType": "transit",
                "elementType": "all",
                "stylers": [
                    {
                        "visibility": "off"
                    }
                ]
            },
            {
                "featureType": "water",
                "elementType": "all",
                "stylers": [
                    {
                        "color": "#46bcec"
                    },
                    {
                        "visibility": "on"
                    }
                ]
            }
        ];

        // Create a new StyledMapType object, passing it the array of styles,
        // as well as the name to be displayed on the map type control.
        var styledMap = new google.maps.StyledMapType(styles,
                { name: "Styled Map" });

        // Instantiate a directions service.
        directionsService = new google.maps.DirectionsService();
        var start = new google.maps.LatLng(28.6295222222, 77.2736500000);
        var mapOptions = {
            zoom: 19,
            center: new google.maps.LatLng(28.618021, 77.270845),
            mapTypeControl: true,
            mapTypeControlOptions: {
                style: google.maps.MapTypeControlStyle.HORIZONTAL_BAR,
                position: google.maps.ControlPosition.TOP_RIGHT
            },
            zoomControl: false,
            zoomControlOptions: {
                style: google.maps.ZoomControlStyle.SMALL,
                position: google.maps.ControlPosition.LEFT_TOP
            },
            panControl: false,
            scaleControl: false,
            streetViewControl: false,

        }
        map = new google.maps.Map(document.getElementById('map-canvas'),
                mapOptions);
        //Associate the styled map with the MapTypeId and set it to display.
        map.mapTypes.set('map_style', styledMap);
        map.setMapTypeId('map_style');

        directionsDisplay = new google.maps.DirectionsRenderer();
        polyline = new google.maps.Polyline({
            path: [],
            strokeColor: '#FF0000',
            strokeWeight: 0//3
        });
        poly2 = new google.maps.Polyline({
            path: [],
            strokeColor: '#FF0000',
            strokeWeight: 0//3
        });
        // to add direction

        // Create the search box and link it to the UI element.
        var logo = document.getElementById('center-post');
        map.controls[google.maps.ControlPosition.CENTER].push(logo);

        var input = document.getElementById('pac-input');
        map.controls[google.maps.ControlPosition.CENTER].push(input);
        TestMarker();
       // AddListItems();
        //AddRestaurantMarker(Restra);
        setTimeout(calcRoute(), 1);

        // Bias the SearchBox results towards places that are within the bounds of the current map's viewport.
        google.maps.event.addListener(map, 'bounds_changed', function () {
            var bounds = map.getBounds();

        });
        google.maps.event.addListener(map, 'zoom_changed', function (event) {
            google.maps.event.removeListener(z);
            setTimeout(function () { map.setZoom(19) }, 5000);
        });
        google.maps.event.addListener(map, 'dragstart', function () {
            Pause = 1;

        });
        var k = 0;
        google.maps.event.addListener(map, 'dragend', function () {
            if (dragmap == 0) {

                window.setTimeout(function () {
                    var c = map.getCenter();
                    Pause = 1;
                    var x = c.lng(); var y = c.lat();
                    map.setCenter(new google.maps.LatLng(y, x));
                    for (var i = 0; i < markers.length; i++) {
                        if (map.getBounds().contains(markers[i].getPosition())) {
                            StartAddress = markers[i].getPosition();
                            map.setCenter(StartAddress);
                        }
                    }
                    Pause = 0;
                    if (map.getZoom() < 17) window.setTimeout(function () {
                        smoothZoom(map, 19, map.getZoom());

                        dragmap = 0;
                    }, 1000);

                }, 8000);

                dragmap = 1;
                Pause = 1;
            }


        });
        google.maps.event.addListener(map, 'idle', function () {

        });


    }

    function AddListItems() {
        var listString = document.getElementById('HiddenField2').value;
        var dataarray = listString.split('~');
        var cl = document.getElementById('Slider');//'#flexiselDemo2');

        for (var i = 35; i < dataarray.length; i++) {
            if (i == 54) return;
            var cl = document.getElementById('Slider');
            var array = dataarray[i].split(',');
            var li = document.createElement('li');
            li.className = 'result-3';
            var div = document.createElement('Div');
            div.className = 'title';
            div.innerHTML = array[0];
            var div1 = document.createElement('Div');
            div1.className = 'addr';
            div1.innerHTML = array[1] + '<br/>' + "<div id='ratestyle' class='score-callback' data-score=" + array[2] + "&nbsp&nbsp></div><br/>";

            li.appendChild(div);
            li.appendChild(div1);
            cl.childNodes[1].appendChild(li);
        }
    }
    // the smooth zoom function
    function smoothZoom(map, max, cnt) {
        if (cnt >= max) {
            return;
        }
        else {
            z = google.maps.event.addListener(map, 'zoom_changed', function (event) {
                google.maps.event.removeListener(z);
                smoothZoom(map, max, cnt + 1);
            });
            setTimeout(function () { map.setZoom(cnt) }, 5000);//220 // 80ms is what I found to work well on my system -- it might not work well on all systems
        }

    }


    function TestMarker() {


        for (var i = 0; i < gon.AllRecords.length; i++)
        {
            var Res = gon.AllRecords[i];
            if(!Res.hasOwnProperty("GeoLoc"))continue;
            var myLatLng = new google.maps.LatLng(parseFloat(Res["GeoLoc"].split(',')[0]),parseFloat(Res["GeoLoc"].split(',')[1]));
            var marker = new google.maps.Marker
            ({
                position: myLatLng,
                map: map,
                icon:'/assets/icon.png'

            });
            //marker.setIcon("http://localhost:3000/assets/icon.png");

            marker.id = uniqueId;
            uniqueId++;
            var infowindow = new google.maps.InfoWindow(
                    {
                        disableAutoPan: true,
                        pixelOffset: new google.maps.Size(170, 70),
                        zIndex: 5

                    });
            var content = "<table><tr><td><img src='/assets/pizzaHut.png' height='60px'/> </td><td>" + Res["Name"] + '<br />Latitude: ' + myLatLng.lat() + '<br />Longitude: ' + myLatLng.lng() + "</td></tr></table>";
            infobox = new InfoBox({
                content: content,
                disableAutoPan: false,
                maxWidth: 280,
                pixelOffset: new google.maps.Size(-240, 0),
                flat: true,
                fontSize: "11pt",
                zIndex: null,
                boxStyle: {
                    background: 'rgb(255, 255, 255)',
                    width: "280px"

                },
                infoBoxClearance: new google.maps.Size(1, 1)
            });
            smoothMarker(marker, content, infobox);
            google.maps.event.addListener(marker, 'mouseout', function () {
                t = setTimeout(function () {
                    infobox.close()
                }, 5000);
            });

            google.maps.event.addListener(infobox, 'domready', function () {
                $('#infobox').on('mouseenter', function () {
                    clearTimeout(t);
                }).on('mouseleave', function () {
                    t = setTimeout(function () {
                        infobox.close()
                    }, 3000);
                })
            });

            //Add marker to the array.
            markers.push(marker);
        }
    }
    // the smooth zoom function
    function smoothMarker(marker, content, infobox) {

        z = google.maps.event.addListener(marker, 'mouseover', function (event) {
            Pause = 1;
            infobox.setContent(content);
            infobox.open(map, this);
            google.maps.event.removeListener(z);
            setTimeout(function () { infobox.close(); Pause = 0; }, 3000);

        });
    }
    function DeleteMarker(id) {

        //Find and remove the marker from the Array
        for (var i = 0; i < markers.length; i++) {
            if (markers[i].id == id) {
                //Remove the marker from Map
                markers[i].setMap(null);
                //Remove the marker from array.
                markers.splice(i, 1);

                return;
            }
        }
    };
    // Direction Animation
    var steps = []
    function calcRoute() {

        // Create a renderer for directions and bind it to the map.
        var travelMode = google.maps.DirectionsTravelMode.DRIVING
        var waypts = [];

        for (var i = 0; i < RauteMap.length; i++) {

            var Res = RauteMap[i];
            var myLatLng = new google.maps.LatLng(Res[1], Res[2]);
            waypts.push({
                location: myLatLng,
                stopover: true
            });
        }

        var request = {
            origin: StartAddress,
            destination: EndAddress,
            waypoints: waypts,
            optimizeWaypoints: true,
            travelMode: travelMode
        };
        //alert("directionstatus" + request.waypoints);
        // Route the directions and pass the response to a
        // function to create markers for each step.
        directionsService.route(request, function (response, status) {
            if (status == google.maps.DirectionsStatus.OK) {
                directionsDisplay.setDirections(response);

                var bounds = new google.maps.LatLngBounds();
                var route = response.routes[0];
                startLocation = new Object();
                endLocation = new Object();


                // For each route, display summary information.
                var path = response.routes[0].overview_path;
                var legs = response.routes[0].legs;

                for (i = 0; i < legs.length; i++) {
                    if (i == 0) {
                        startLocation.latlng = legs[i].start_location;
                        startLocation.address = legs[i].start_address;
                        //marker = createMarker(legs[i].start_location, "start", legs[i].start_address, "green");

                    }
                    endLocation.latlng = legs[i].end_location;
                    endLocation.address = legs[i].end_address;
                    var steps = legs[i].steps;
                    for (j = 0; j < steps.length; j++) {
                        var nextSegment = steps[j].path;
                        for (k = 0; k < nextSegment.length; k++) {
                            polyline.getPath().push(nextSegment[k]);
                            bounds.extend(nextSegment[k]);

                        }
                    }
                }


                polyline.setMap(map);
                // createMarker(endLocation.latlng, "end", endLocation.address, "blue");

                startAnimation();
            }
        });
    }

    var step = 1; //2// 50; // metres
    var tick = 100; // milliseconds
    var eol;
    var k = 0;
    var stepnum = 0;
    var speed = "";
    var lastVertex = 1;


    //=============== animation functions ======================
    function updatePoly(d) {
        // Spawn a new polyline every 20 vertices, because updating a 100-vertex poly is too slow
        if (poly2.getPath().getLength() > 20) {
            poly2 = new google.maps.Polyline([polyline.getPath().getAt(lastVertex - 1)]);
        }
        if (polyline.GetIndexAtDistance(d) < lastVertex + 2) {
            if (poly2.getPath().getLength() > 1) {
                poly2.getPath().removeAt(poly2.getPath().getLength() - 1)
            }
            poly2.getPath().insertAt(poly2.getPath().getLength(), polyline.GetPointAtDistance(d));
        }
        else {
            poly2.getPath().insertAt(poly2.getPath().getLength(), endLocation.latlng);
        }

    }


    function animate(d) {
        if (d >= eol) {
            map.panTo(endLocation.latlng);
            // marker.setPosition(endLocation.latlng);
            //return;
            setTimeout("calcRoute()", 10);
        }
        var p = polyline.GetPointAtDistance(d);
        if (Pause == 0) {
            map.panTo(p);
        }

        // marker.setPosition(p);
        updatePoly(d);
        timerHandle = setTimeout("animate(" + (d + step) + ")", tick);//tick

    }

    function startAnimation() {
        eol = polyline.Distance();
        map.setCenter(polyline.getPath().getAt(0));
        poly2 = new google.maps.Polyline({ path: [polyline.getPath().getAt(0)], strokeColor: "#0000FF", strokeWeight: 3 });
        setTimeout("animate(50)", 2000);  // Allow time for the initial map display
    }
    google.maps.event.addDomListener(window, 'load', initialize);
  $(document).ready(function(){
//      $(".flexslider").flex
//      ({
//          //  The initial number of visible items in the carousel
//          visibleItems: 4,
//          // Speed of the scrolling animation
//          animationSpeed: 1000,//1000
//          // Auto scrolling
//          autoPlay: true,
//          // Speed of auto scrolling
//          autoPlaySpeed: 4000,//3000
//          // Whether or not pause the auto sliding on mouse over
//          pauseOnHover: true,
//          // set maxWidth and maxHeight
//          setMaxWidthAndHeight: false,
//          // Enable flip page effect.
//          flipPage: true,
//          // Clone the elements (carousel slider)
//          clone: true,
//          // Custom breakpoints for responsive design
//
//          enableResponsiveBreakpoints: true,
//          responsiveBreakpoints: {
//              portrait: {
//                  changePoint: 480,
//                  visibleItems: 1
//              },
//              landscape: {
//                  changePoint: 640,
//                  visibleItems: 2
//              },
//              tablet: {
//                  changePoint: 768,
//                  visibleItems: 3
//              }
//          }
//      });.
      $("#owl-demo").owlCarousel({

         // autoPlay: 3000,
          items : 5,
          pagination: false,
         navigation : true, // Show next and prev buttons
          slideSpeed : 300,
          paginationSpeed : 400
         // singleItem:true
      });
      $('.score-callback').raty(
              {
                  path:'/assets/',
                  readOnly: true,
                  score:function()
                  {return $(this).attr('data-score');}
              }

      );
  });
</script>
<section class="slider-banner-fullscreen" >
 <div id="map-canvas" style="width: 100%;height:470px"></div>
  <div id="owl-demo" class="owl-carousel owl-theme">
    <% if @response["response"]["numFound"].to_i > 0 %>
        <% @response["response"]["docs"].each do|doc|%>
        <%= content_tag "div",:class => "result-3" do %>
          <div id="imgDiv" class="col-md-3" style="display: inline-block"><%= image_tag "pointer.png",:style => "height:55px;"%>
          </div>
           <div class="col-md-8" style="margin-left: -25px;">   <table style="display: inline-block;margin-left:5px;">
    <tr><td><div class="title1" style="font-size:14px;
            font-weight: 700;" title="<%=doc["Name"] %>"> <%=doc["Name"].to_s.length>15?doc["Name"][0..15]+"..":doc["Name"]%>
    </div></td></tr>
    <tr><td> <div class="addr" style="font-size: 10px;"><%=doc["Location"] %>
    </div></td></tr>
    <tr><td><div class="score-callback" data-score="<%=doc["Rating"].to_s.include?('[') ?doc["Rating"][0]:doc["Rating"]%>" style="display: inline-block;margin-top: 5px;direction: rtl;height: 16px;"></div></td></tr>
    <tr><td><div class="score-callback" data-score="<%=doc["Rating"].to_s.include?('[') ?doc["Rating"][0]:doc["Rating"]%>" style="display: inline-block;margin-top: 5px;direction: rtl"></div></td></tr></table>
</div>


  <%end%>
        <% end%>
        <% end%>

          </div>
</section>
<div class="clearfix"></div>
<!-- section end  class="owl-carousel owl-theme" -->